$primary-font: "Source Sans Pro", sans-serif;
$secondary-font: "Montserrat", sans-serif;
$bg-dark-header: #2c2e3d;
$bg-btnarrow: #212331;
$bg-tableprice: #3c3a43;
$gray-light: #99a9b5;
$gray-lighter: #5f727f;
$blue-color: #00bcd4;
$blue-dark: #393d50;
